<ion-header>
  <div class="app-title">
    <ion-label class="app-title__label">Simple Calc</ion-label>
  </div>
</ion-header>

<ion-content class="content">
  <ion-grid class="grid">
    <ion-row class="display">
      <ion-grid class="display__grid">
        <ion-row>
          <div class="display__first-num-line">
            <ion-text class="display__first-num-text">{{firstNum | textTruncate:20}}</ion-text>
          </div>
        </ion-row>
        <ion-row>
          <div class="display__operator-line">
            <ion-text class="display__operator-text">{{operator | operatorFriendly}}</ion-text>
          </div>
        </ion-row>
        <ion-row>
          <div class="display__second-num-line">
            <ion-text class="display__second-num-text">{{secondNum | textTruncate:20}}</ion-text>
          </div>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="scalc-btn btn-curator" (click)="onAC()">
          <span>AC</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-curator" (click)="onNegative()">
          <span>( - )</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-curator" (click)="onPercent()">
          <span>%</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-operator" (click)="onOperator('/')">
          <span>÷</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('7')">
          <span>7</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('8')">
          <span>8</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('9')">
          <span>9</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-operator" (click)="onOperator('*')">
          <span>x</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('4')">
          <span>4</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('5')">
          <span>5</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('6')">
          <span>6</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-operator" (click)="onOperator('-')">
          <span>-</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('1')">
          <span>1</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('2')">
          <span>2</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-number" (click)="onNumber('3')">
          <span>3</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="scalc-btn btn-operator" (click)="onOperator('+')">
          <span>+</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button class="scalc-btn btn-number" (click)="onNumber('0')">
          <span>0</span>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="scalc-btn btn-number" (click)="onDecimalPoint()">
          <span>.</span>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="scalc-btn btn-operator" (click)="onEqual()">
          <span>=</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <div class="about-app">
    <ion-row class="about-app__made-with">
      <ion-label>Made with Ionic framework (Ionic - Angular)</ion-label>
    </ion-row>
    <ion-row class="about-app__github-source">
      <ion-label>https://github.com/quanghuy6698/ionic-simple-calc</ion-label>
    </ion-row>
    <ion-row class="about-app__copyright">
      <ion-label>@Copyright 2022 @quanghuy6698</ion-label>
    </ion-row>
  </div>
</ion-footer>
